body {
    font-family: Arial;
    text-align: center;
    background-color: white;
    font-size: 20px;
    text-transform: capitalize;
    color: #006400;
}

header {
    z-index: 1;
    background-color: #006400;
    position: fixed;
    width: 100%;
    height: 70px;
    
}

main {
    padding-top: 70px;
}

figcaption {
    font-weight: bold;
    text-transform: capitalize;
    padding-top: 25px;
}

.pictures img {
    height: 500px;
    width: 500px;
}

nav .links {
    display: flex;
    justify-content: space-around;
}

nav .links a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

nav .links a:hover {
    text-decoration: underline;
    font-size: 1.75rem;
}

.bg-image {
    width: 100%;
}

.quote p {
    font-size: 2.5rem;
    position: absolute;
    top: 75%;
    font-weight: bold;
    text-transform: capitalize;
    color: #006400;
    background-color: white;
    width: 100%;
    height: 100px;
}

.best-moments p {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.indv-picture {
    padding-bottom: 50px;
    padding-right: 10px;
}

#Meets p {
    font-weight: bold;
}

@media only screen and (max-width: 860px) {

    .quote p {
        font-size: 2rem;
        position: absolute;
        top: 60%;
        font-weight: bold;
        text-transform: capitalize;
        color: #006400;
        background-color: white;
        width: 100%;
        height: 100px;
        padding-top: 15px;
    }

    #Meets img {
        position: relative;
        left: -45%;
    }
    
}

@media only screen and (max-width: 660px) {

    .quote p {
        font-size: 1.75rem;
        position: absolute;
        top: 50%;
        font-weight: bold;
        text-transform: capitalize;
        color: #006400;
        background-color: white;
        width: 100%;
        height: 100px;
        padding-top: 25px;
    }
    
    #Meets img {
        position: relative;
        left: -50%;
    }
    
}

@media only screen and (max-width: 560px) {

    .quote p {
        font-size: 1.75rem;
        position: absolute;
        top: 42%;
        font-weight: bold;
        text-transform: capitalize;
        color: #006400;
        background-color: white;
        width: 100%;
        height: 100px;
        padding-top: 15px;
    }

    #Meets img {
        position: relative;
        left: -55%;
    }
    
}